* { 

    padding:0;
    margin:0;
    font-family: 'Cairo';
    font-weight: 600;
}

:root { 

    --acc-blue: #4682B4;
    --acc-grey:#585858;
    --acc-black:#212529;
    --acc-white: #fcfcfc;
    
    --nav-height:6rem;
}

body {
    background-color: var(--acc-white);
}

nav {
    width: 100%;
    height: var(--nav-height);
    display: flex;

    position: sticky;
    top: 0;
}

/* 2 main containers inside nav */
nav > * {
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav img.logo { 
    height: 100px;
    aspect-ratio: 1/1;
}

.logo-container a {
    color: var(--acc-blue);
    text-decoration: none;
    font-size: 1.5rem;
}

/* nav links list */
nav ul {
    justify-content: flex-end;
    gap: 1rem;
    list-style:none;
    font-size: 1.6rem;
    box-sizing: border-box;
    padding-left: 4rem;
}

nav ul a {
    text-decoration: none;
    color: var(--acc-grey);
    transition: 150ms ease-in-out;
}

nav ul a:hover {
    color: var(--acc-blue);
}

nav ul a[current] {color: var(--acc-blue);}

.socials {

    position: sticky;
    right: 0;
    top: 70vh;

    padding: 1rem;
    height: 150px;
    width: 50px;
    background-color: var(--acc-blue);
}

.socials[fixed] {position: fixed;}

.socials ul {
    
    list-style:none;
    display: flex;
    flex-direction: column;
}

.socials a img {
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

footer { 

    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--acc-blue);
    color: white;
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    padding: .75rem;
}

footer > * {flex:1;}
footer span {display: flex; justify-content: flex-end; align-items: center;}